<!DOCTYPE html>
<html lang="fa">
	
<head>
		<meta charset="utf-8" />
		<meta name="author" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		
        <title>LearnUp - قالب HTML دوره آنلاین و آموزش</title>
		 
        <!-- Custom CSS -->
        <link href="assets/css/styles.css" rel="stylesheet">
		
		<!-- Custom Color Option -->
		<link href="assets/css/colors.css" rel="stylesheet">
		
    </head>
	
    <body class="red-skin rtl">
	
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div id="preloader"><div class="preloader"><span></span><span></span></div></div>
		
		
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			<div class="header header-light head-shadow">
				<div class="container">
					<nav id="navigation" class="navigation navigation-landscape">
						<div class="nav-header">
							<a class="nav-brand" href="#">
								<img src="assets/img/logo.png" class="logo" alt="" />
							</a>
							<div class="nav-toggle"></div>
						</div>
						<div class="nav-menus-wrapper" style="transition-property: none;">
							<ul class="nav-menu">
							
								<li class="active"><a href="#">خانه<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="#">نسخه های جدید<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="new-home-1.html">نسخه پیش فرض</a></li>
												<li><a href="new-home-2.html">نسخه استاندارد</a></li>
												<li><a href="new-home-3.html">نسخه کلاسیک</a></li>
											</ul>
										</li>
										<li><a href="index.html">خانه 1</a></li>
										<li><a href="home-2.html">خانه 2</a></li>
										<li><a href="home-3.html">خانه 3</a></li>
										<li><a href="home-4.html">خانه 4</a></li>
										<li><a href="home-5.html">خانه 5</a></li>
										<li><a href="home-6.html">خانه 6</a></li>
										<li><a href="home-7.html">خانه 7</a></li>
										<li><a href="home-8.html">خانه 8</a></li>
										<li><a href="home-9.html">خانه 9</a></li>
										<li><a href="home-10.html">خانه 10</a></li>
									</ul>
								</li>
								
								<li><a href="#">دوره های آموزشی<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="#">نمای با نوارکناری<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="grid-with-sidebar.html">نسخه 1</a></li>
												<li><a href="grid-with-sidebar-2.html">نسخه 2</a></li>
												<li><a href="grid-with-sidebar-3.html">نسخه 3</a></li>
											</ul>
										</li>
										<li><a href="list-with-sidebar.html">طرح بندی لیستی</a></li>
										<li><a href="#">نمای تمام صفحه<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="full-width-course.html">نسخه 1</a></li>
												<li><a href="full-width-course-2.html">نسخه 2</a></li>
												<li><a href="full-width-course-3.html">نسخه 3</a></li>
												<li><a href="full-width-course-4.html">نسخه 4</a></li>
											</ul>
										</li>
										<li><a href="#">جزئیات دوره<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="detail.html">نسخه 1</a></li>
												<li><a href="detail-2.html">نسخه 2</a></li>
												<li><a href="detail-3.html">نسخه 3</a></li>
												<li><a href="detail-4.html">نسخه 4</a></li>
												<li><a href="detail-5.html">نسخه 5</a></li>
												<li><a href="detail-6.html">نسخه 6</a></li>
											</ul>
										</li>
										<li><a href="find-instructor.html">لیست مدرس</a></li>
										<li><a href="instructor-detail.html">جزئیات مدرس</a></li>
									</ul>
								</li>
								
								<li><a href="#">صفحات<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li class=""><a href="#">پنل کاربری<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="dashboard.html">داشبورد</a></li>
												<li><a href="my-profile.html">حساب کاربری من</a></li>
												<li><a href="all-courses.html">دوره های من</a></li>
												<li><a href="my-order.html">سفارشات من</a></li>
												<li><a href="saved-courses.html">دوره های موردعلاقه</a></li>
												<li><a href="reviews.html">امتیازات من</a></li>
												<li><a href="settings.html">تنظیمات</a></li>
											</ul>
										</li>
										<li><a href="#">فروشگاه<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="shop-full-width.html">تمام صفحه</a></li>
												<li><a href="shop-left-sidebar.html">سایدبار چپ</a></li>
												<li><a href="shop-right-sidebar.html">سایدبار راست</a></li>
												<li><a href="product-detail.html">جزئیات</a></li>
												<li><a href="add-to-cart.html">افزودن به سبد خرید</a></li>
												<li><a href="product-wishlist.html">موردعلاقه ها</a></li>
												<li><a href="checkout.html">تسویه حساب</a></li>
												<li><a href="shop-order.html">ثبت سفارش</a></li>
											</ul>
										</li>
										<li><a href="about-us.html">درباره ما</a></li>
										<li><a href="blog.html">لیست بلاگ</a></li>
										<li><a href="blog-detail.html">جزئیات بلاگ</a></li>
										<li><a href="pricing.html">پکیج قیمت</a></li>
										<li><a href="404.html">صفحه 404</a></li>
										<li><a href="register.html">ثبت نام</a></li>
										<li><a href="component.html">المان ها</a></li>
										<li><a href="privacy.html">قوانین و شرایط</a></li>
										<li><a href="faq.html">سوالات متداول</a></li>
									</ul>
								</li>
								
								<li><a href="contact.html">تماس با ما</a></li>
								
							</ul>
							
							<ul class="nav-menu nav-menu-social align-to-left">
								
								<li class="login_click light">
									<a href="#" data-toggle="modal" data-target="#login">ورود</a>
								</li>
								<li class="login_click theme-bg">
									<a href="#" data-toggle="modal" data-target="#signup">ثبت نام</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->	
			
			<!-- ============================ Course Detail ================================== -->
			<section class="pt-5">
				<div class="container">
					
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb simple">
									<li class="breadcrumb-item"><a href="#" class="theme-cl">خانه</a></li>
									<li class="breadcrumb-item"><a href="#" class="theme-cl">لیست دوره</a></li>
									<li class="breadcrumb-item active" aria-current="page">دوره آموزش پلاگین نویسی وردپرس</li>
								</ol>
							</nav>
						</div>
					</div>
					
					<div class="row">
					
						<div class="col-lg-8 col-md-8">
						
							<div class="inline_edu_wraps mb-4">
								<h2>دوره آموزش پلاگین نویسی وردپرس</h2>
								<div class="ed_rate_info">
									<span class="ml-2 text-danger bg-light-danger px-2 py-1 rounded">برنامه نویسی</span>
									<div class="review_counter ml-2">
										<strong class="good">4.5</strong>
									</div>
									<div class="star_info">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
									</div>
								</div>
							</div>
							
							<div class="inline_edu_wrap">
								<div class="inline_edu_first">
									<div class="instructor_dark_info">
										<ul>
											<li>
												<span>به روزرسانی</span>
												10 بهمن 1399
											</li>
											<li>
												<span>سطح</span>
												مقدماتی
											</li>
											<li>
												<span>هنرجویان</span>
												742,614
											</li>
											<li>
												<span>زبان</span>
												انگلیسی
											</li>
										</ul>
									</div>
								</div>	
								<div class="inline_edu_last">
									<a href="#" class="btn btn-light"><i class="fa fa-heart ml-2"></i>افزودن به موردعلاقه</a>
								</div>
							</div>
							
							<div class="property_video xl mb-4">
								<div class="thumb">
									<img class="pro_img img-fluid w100" src="assets/img/banner-5.jpg" alt="7.jpg">
									<div class="overlay_icon">
										<div class="bb-video-box">
											<div class="bb-video-box-inner">
												<div class="bb-video-box-innerup">
													<a href="https://www.aparat.com/video/video/embed/videohash/cNpW0/vt/frame" data-toggle="modal" data-target="#popup-video" class="theme-cl"><i class="ti-control-play"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
								
							</div>
							
							<!-- Overview -->
							<div class="edu_wraper border">
								<h4 class="edu_title">توضیحات</h4>
								<p>طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>		
								<p>از آنجایی که گنجاندن امکانات بیشتر باعث سنگین‌تر شدن آن می‌شود، و از طرف دیگر همه کاربران وردپرس به آن نیازی ندارند، این افزونه‌های وردپرس هستند که کار توسعه امکانات وردپرس را به عهده دارند. در ادامه مطلب با آکادمی لرن آپ مرجع آموزش برنامه نویسی همراه باشید. اگر علاقمند به کسب اطلاعات بیشتر درباره وردپرس هستید پیشنهاد میکنیم  به سایت رسمی وردپرس مراجعه نمایید.</p>
								<h6>پیشنیازهای این دوره</h6>
								<ul class="lists-3">
									<li>دوره تصویری آموزش HTML به زبان فارسی</li>
									<li>دوره تصویری آموزش PHP به زبان فارسی</li>
									<li>دوره تصویری آموزش وردپرس به زبان فارسی</li>
									<li>آشنایی نسبی با MySQL</li>
									<li>آشنایی به نصب و مدیریت وردپرس</li>
								</ul>
							</div>
							
							<div class="edu_wraper border">
								<h4 class="edu_title">سرفصل های دوره</h4>
								<div id="accordionExample" class="accordion shadow circullum">

									<!-- Part 1 -->
									<div class="card">
									  <div id="headingOne" class="card-header bg-white shadow-sm border-0">
										<h6 class="mb-0 accordion_title"><a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block position-relative text-dark collapsible-link py-2">دوره اول: مقدمه و معرفی مدرس</a></h6>
									  </div>
									  <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show">
										<div class="card-body pl-3 pr-3">
											<ul class="lectures_lists">
												<li><div class="lectures_lists_title"><i class="ti-control-play"></i>دوره: 1</div>معرفی دوره</li>
												<li><div class="lectures_lists_title"><i class="ti-control-play"></i>دوره: 2</div>ساخت منوها در بخش مدیریت</li>
												<li><div class="lectures_lists_title"><i class="ti-control-play"></i>دوره: 3</div>متاباکس و ذخیره اطلاعات برای پست ها</li>
												<li class="unview"><div class="lectures_lists_title"><i class="ti-control-play"></i>دوره: 4</div>استفاده از قالب استاندارد در پلاگین ها</li>
												<li class="unview"><div class="lectures_lists_title"><i class="ti-control-play"></i>دوره: 5</div>ذخیره و بازیابی تنظیمات در وردپرس</li>
											</ul>
										</div>
									  </div>
									</div>

									<!-- Part 2 -->
									<div class="card">
									  <div id="headingTwo" class="card-header bg-white shadow-sm border-0">
										<h6 class="mb-0 accordion_title"><a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="d-block position-relative collapsed text-dark collapsible-link py-2">دوره دوم: پیاده سازی پلاگین آمار بازدید</a></h6>
									  </div>
									  <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse">
										<div class="card-body pl-3 pr-3">
											<ul class="lectures_lists">
												<li><div class="lectures_lists_title"><i class="ti-control-play"></i>دوره: 1</div>معرفی دوره</li>
												<li><div class="lectures_lists_title"><i class="ti-control-play"></i>دوره: 2</div>ساخت منوها در بخش مدیریت</li>
												<li><div class="lectures_lists_title"><i class="ti-control-play"></i>دوره: 3</div>متاباکس و ذخیره اطلاعات برای پست ها</li>
												<li class="unview"><div class="lectures_lists_title"><i class="ti-control-play"></i>دوره: 4</div>استفاده از قالب استاندارد در پلاگین ها</li>
												<li class="unview"><div class="lectures_lists_title"><i class="ti-control-play"></i>دوره: 5</div>ذخیره و بازیابی تنظیمات در وردپرس</li>
											</ul>
										</div>
									  </div>
									</div>

									<!-- Part 3 -->
									<div class="card">
									  <div id="headingThree" class="card-header bg-white shadow-sm border-0">
										<h6 class="mb-0 accordion_title"><a href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="d-block position-relative collapsed text-dark collapsible-link py-2">دوره سوم: پیاده سازی پلاگین رای دادن به مطالب</a></h6>
									  </div>
									  <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
										<div class="card-body pl-3 pr-3">
										  <ul class="lectures_lists">
												<li><div class="lectures_lists_title"><i class="ti-control-play"></i>دوره: 1</div>معرفی دوره</li>
												<li><div class="lectures_lists_title"><i class="ti-control-play"></i>دوره: 2</div>ساخت منوها در بخش مدیریت</li>
												<li><div class="lectures_lists_title"><i class="ti-control-play"></i>دوره: 3</div>متاباکس و ذخیره اطلاعات برای پست ها</li>
												<li class="unview"><div class="lectures_lists_title"><i class="ti-control-play"></i>دوره: 4</div>استفاده از قالب استاندارد در پلاگین ها</li>
												<li class="unview"><div class="lectures_lists_title"><i class="ti-control-play"></i>دوره: 5</div>ذخیره و بازیابی تنظیمات در وردپرس</li>
											</ul>
										</div>
									  </div>
									</div>
									
									<!-- Part 04 -->
									<div class="card">
									  <div id="headingFour" class="card-header bg-white shadow-sm border-0">
										<h6 class="mb-0 accordion_title"><a href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="d-block position-relative collapsed text-dark collapsible-link py-2">دوره نهایی: پیاده سازی پلاگین فروشگاه اینترنتی با درگاه پرداخت</a></h6>
									  </div>
									  <div id="collapseFour" aria-labelledby="headingFour" data-parent="#accordionExample" class="collapse">
										<div class="card-body pl-3 pr-3">
										  <ul class="lectures_lists">
												<li><div class="lectures_lists_title"><i class="ti-control-play"></i>دوره: 1</div>معرفی دوره</li>
												<li><div class="lectures_lists_title"><i class="ti-control-play"></i>دوره: 2</div>ساخت منوها در بخش مدیریت</li>
												<li><div class="lectures_lists_title"><i class="ti-control-play"></i>دوره: 3</div>متاباکس و ذخیره اطلاعات برای پست ها</li>
												<li class="unview"><div class="lectures_lists_title"><i class="ti-control-play"></i>دوره: 4</div>استفاده از قالب استاندارد در پلاگین ها</li>
												<li class="unview"><div class="lectures_lists_title"><i class="ti-control-play"></i>دوره: 5</div>ذخیره و بازیابی تنظیمات در وردپرس</li>
											</ul>
										</div>
									  </div>
									</div>

								</div>
							</div>
							
							<!-- Reviews -->
							<div class="rating-overview border">
								<div class="rating-overview-box">
									<span class="rating-overview-box-total">4.2</span>
									<span class="rating-overview-box-percent">از امتیاز 5</span>
									<div class="star-rating" data-rating="5"><i class="ti-star"></i><i class="ti-star"></i><i class="ti-star"></i><i class="ti-star"></i><i class="ti-star"></i>
									</div>
								</div>

								<div class="rating-bars">
									<div class="rating-bars-item">
										<span class="rating-bars-name">5 ستاره</span>
										<span class="rating-bars-inner">
											<span class="rating-bars-rating high" data-rating="4.7">
												<span class="rating-bars-rating-inner" style="width: 85%;"></span>
											</span>
											<strong>85%</strong>
										</span>
									</div>
									<div class="rating-bars-item">
										<span class="rating-bars-name">4 ستاره</span>
										<span class="rating-bars-inner">
											<span class="rating-bars-rating good" data-rating="3.9">
												<span class="rating-bars-rating-inner" style="width: 75%;"></span>
											</span>
											<strong>75%</strong>
										</span>
									</div>
									<div class="rating-bars-item">
										<span class="rating-bars-name">3 ستاره</span>
										<span class="rating-bars-inner">
											<span class="rating-bars-rating mid" data-rating="3.2">
												<span class="rating-bars-rating-inner" style="width: 52.2%;"></span>
											</span>
											<strong>53%</strong>
										</span>
									</div>
									<div class="rating-bars-item">
										<span class="rating-bars-name">1 ستاره</span>
										<span class="rating-bars-inner">
											<span class="rating-bars-rating poor" data-rating="2.0">
												<span class="rating-bars-rating-inner" style="width:20%;"></span>
											</span>
											<strong>20%</strong>
										</span>
									</div>
								</div>
							</div>
							
							<!-- instructor -->
							<div class="single_instructor border">
								<div class="single_instructor_thumb">
									<a href="#"><img src="assets/img/user-3.jpg" class="img-fluid" alt=""></a>
								</div>
								<div class="single_instructor_caption">
									<h4><a href="#">مهندس رضایی</a></h4>
									<ul class="instructor_info">
										<li><i class="ti-video-camera"></i>72 ویدئو</li>
										<li><i class="ti-control-forward"></i>102 دوره</li>
										<li><i class="ti-user"></i>آپدیت بهمن ماه</li>
									</ul>
									<p>اول داستان، طراح گرافیک بودم و ۲ سالی به عنوان طراح مشغول بودم، بعد به برنامه‌نویسی علاقمند شدم و الان بیشتر از ۱۰ ساله که عاشق کدزنی و چالش‌های پروژه‌های مختلفم.</p>
									<ul class="social_info">
										<li><a href="#"><i class="ti-facebook"></i></a></li>
										<li><a href="#"><i class="ti-twitter"></i></a></li>
										<li><a href="#"><i class="ti-linkedin"></i></a></li>
										<li><a href="#"><i class="ti-instagram"></i></a></li>
									</ul>
								</div>
							</div>
							
							<!-- Reviews -->
							<div class="list-single-main-item fl-wrap border">
								<div class="list-single-main-item-title fl-wrap">
									<h3>تاکنون <span> 3 </span> دیدگاه ثبت شده است!</h3>
								</div>
								<div class="reviews-comments-wrap">
									<!-- reviews-comments-item -->  
									<div class="reviews-comments-item">
										<div class="review-comments-avatar">
											<img src="assets/img/user-1.jpg" class="img-fluid" alt=""> 
										</div>
										<div class="reviews-comments-item-text">
											<h4><a href="#">محمد خاکپور</a><span class="reviews-comments-item-date"><i class="ti-calendar theme-cl"></i>10 بهمن 1399</span></h4>
											
											<div class="listing-rating high" data-starrating2="5"><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><span class="review-count">4.9</span> </div>
											<div class="clearfix"></div>
											<p>"ظاهرا آموزش کاملی بنظر میاد و میخوام بخرم ولی کاش بجای ساخت فروشگاه، پلاگین نویسی برا ووکامرس رو هم توضیح میدادین، البته میتونین تکمیل کنین این دوره رو و آپدیت کنین"</p>
											<div class="pull-left reviews-reaction">
												<a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
												<a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
												<a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>
											</div>
										</div>
									</div>
									<!--reviews-comments-item end-->  
									
									<!-- reviews-comments-item -->  
									<div class="reviews-comments-item">
										<div class="review-comments-avatar">
											<img src="assets/img/user-2.jpg" class="img-fluid" alt=""> 
										</div>
										<div class="reviews-comments-item-text">
											<h4><a href="#">الهام پاکزاد</a><span class="reviews-comments-item-date"><i class="ti-calendar theme-cl"></i>26 مرداد 1399</span></h4>
											
											<div class="listing-rating mid" data-starrating2="5"><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star"></i><span class="review-count">3.7</span> </div>
											<div class="clearfix"></div>
											<p>"سلام.من PHP رو تو دوران هنرستان یاد گرفتم.اگه PHP رو به صورت مقدماتی کار کرده باشم ولی در حدی باشیم که درک نسبتا کاملی از کد خط ها و معنا و مفهوم آن داشته باشیم، کفایت میکنه یا باید پیشرفته تر آموزش ویدیویی ببینم؟ "</p>
											<div class="pull-left reviews-reaction">
												<a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
												<a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
												<a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>
											</div>
										</div>
									</div>
									<!--reviews-comments-item end-->
									
									<!-- reviews-comments-item -->  
									<div class="reviews-comments-item">
										<div class="review-comments-avatar">
											<img src="assets/img/user-3.jpg" class="img-fluid" alt=""> 
										</div>
										<div class="reviews-comments-item-text">
											<h4><a href="#">مهدی فدایی</a><span class="reviews-comments-item-date"><i class="ti-calendar theme-cl"></i>20 بهمن 1398</span></h4>
											
											<div class="listing-rating good" data-starrating2="5"><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star active"></i><i class="ti-star"></i> <span class="review-count">4.2</span> </div>
											<div class="clearfix"></div>
											<p>" سلام. برای یادگرفتن پیش نیاز این دوره که پی اچ پی هست تا کدام قسمت از اموزش پی اچ پی لازمه که یاد گرفته بشه؟(مطابق سرفصل های همین دوره در سایت) "</p>
											<div class="pull-left reviews-reaction">
												<a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
												<a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
												<a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>
											</div>
										</div>
									</div>
									<!--reviews-comments-item end-->
									
								</div>
							</div>
							
							<!-- Submit Reviews -->
							<div class="edu_wraper border">
								<h4 class="edu_title">ثبت دیدگاه</h4>
								<div class="review-form-box form-submit">
									<form>
										<div class="row">
											
											<div class="col-lg-6 col-md-6 col-sm-12">
												<div class="form-group">
													<label>نام</label>
													<input class="form-control" type="text" placeholder="نام شما">
												</div>
											</div>
											
											<div class="col-lg-6 col-md-6 col-sm-12">
												<div class="form-group">
													<label>ایمیل</label>
													<input class="form-control" type="email" placeholder="ایمیل شما">
												</div>
											</div>
											
											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="form-group">
													<label>متن دیدگاه</label>
													<textarea class="form-control ht-140" placeholder="دیدگاه خود را وارد نمایید"></textarea>
												</div>
											</div>
											
											<div class="col-lg-12 col-md-12 col-sm-12">
												<div class="form-group">
													<button type="submit" class="btn btn-theme">ثبت دیدگاه</button>
												</div>
											</div>
											
										</div>
									</form>
								</div>
							</div>
							
						</div>
						
						<div class="col-lg-4 col-md-4">
						
							<!-- Course info -->
							<div class="ed_view_box style_3 border py-3">
								
								<div class="ed_view_price pr-4">
									<span>قیمت آموزش</span>
									<h2 class="theme-cl mb-0">149 تومان</h2>
									<div class="offer-box"><span class="old-prc">199.20ت</span><span class="offer-box">25% تخفیف</span></div>
								</div>
								
								<div class="ed_view_short pl-4 pr-4 pb-2 b-b">
									<p>در این دوره ما سعی داریم قدم به قدم و به شکل کامل پلاگین نویسی را به شما به شکل کامل آموزش دهیم.</p>
								</div>
								
								<div class="p-4">
									<h5 class="edu_title">ویژگی های دوره</h5>
								<ul class="edu_list right">
									<li><i class="ti-user"></i>شرکت کنندگان:<strong>1740 نفر</strong></li>
									<li><i class="ti-files"></i>تعداد دوره:<strong>10</strong></li>
									<li><i class="ti-game"></i>جلسات:<strong>4</strong></li>
									<li><i class="ti-time"></i>مدت دوره:<strong>60 ساعت</strong></li>
									<li><i class="ti-tag"></i>سطح دوره:<strong>مقدماتی</strong></li>
									<li><i class="ti-flag-alt"></i>زبان:<strong>فارسی</strong></li>
									<li><i class="ti-shine"></i>نوع دوره:<strong>رایگان</strong></li>
								</ul>
								</div>
								<div class="ed_view_link pb-3">
									<a href="#" class="btn btn-theme enroll-btn">پارت 1<i class="ti-angle-left"></i></a>
									<a href="#" class="btn btn-outline-theme enroll-btn">پارت 2<i class="ti-angle-left"></i></a>
								</div>
								
								<div class="px-4 pt-4 pb-0 b-t">
									<h5 class="mb-3">درباره مدرس</h5>
									<div class="ins_info">
										<div class="ins_info_thumb">
											<img src="assets/img/user-8.jpg" class="img-fluid" alt="">
										</div>
										<div class="ins_info_caption">
											<h4 class="text-dark">مهندس شادی کریمی</h4>
											<span class="text-dark">موسس لرن آپ</span>
										</div>
									</div>
									<div class="inline_edu_wrap mt-4">
										<div class="inline_edu_first">
											<div class="ed_rate_info">
												<div class="review_counter mr-2">
													<strong class="good">4.5</strong>
												</div>
												<div class="star_info">
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star filled"></i>
													<i class="fas fa-star"></i>
												</div>
											</div>
										</div>	
										<div class="inline_edu_last">
											<i class="fa fa-file ml-2"></i>42 دوره
										</div>
									</div>
								</div>
								
							</div>
							
						</div>
					
					</div>
				
				</div>
			</section>
			<!-- ============================ Course Detail ================================== -->
			
			<!-- ============================== Start Newsletter ================================== -->
			<section class="newsletter theme-bg inverse-theme">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8 col-sm-12">
							<div class="text-center">
								<h2>به جامعه هزاران دانشجو بپیوندید!</h2>
								<p>به جامعه میلیونی دانشجویان ما بپیوندید و به هزاران ساعت آموزش در حوزه‌های گوناگون دسترسی داشته باشید.</p>
								<form class="sup-form">
									<input type="email" class="form-control sigmup-me" placeholder="ایمیل" required="required">
									<input type="submit" class="btn btn-theme" value="عضویت">
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ================================= End Newsletter =============================== -->
			
			<!-- ============================ Footer Start ================================== -->
			<footer class="dark-footer skin-dark-footer">
				<div>
								<div class="container">
						<div class="row">
							
							<div class="col-lg-3 col-md-3">
								<div class="footer-widget">
									<img src="assets/img/logo-light.png" class="img-footer" alt="" />
									<div class="footer-add">
										<p>تهران، خیابان سعادت آباد، خیابان کاج</p>
										<p>02188888888</p>
										<p>info@learnup.com</p>
									</div>
									
								</div>
							</div>		
							<div class="col-lg-2 col-md-3">
								<div class="footer-widget">
									<h4 class="widget-title">لینک مفید</h4>
									<ul class="footer-menu">
										<li><a href="about-us.html">درباره ما</a></li>
										<li><a href="faq.html">سوالات متداول</a></li>
										<li><a href="checkout.html">تسویه حساب</a></li>
										<li><a href="contact.html">تماس با ما</a></li>
										<li><a href="blog.html">وبلاگ</a></li>
									</ul>
								</div>
							</div>
									
							<div class="col-lg-2 col-md-3">
								<div class="footer-widget">
									<h4 class="widget-title">دسته بندی</h4>
									<ul class="footer-menu">
										<li><a href="#">طراحی وب</a></li>
										<li><a href="#">شبکه و امنیت</a></li>
										<li><a href="#">برنامه نویسی وب</a></li>
										<li><a href="#">پایگاه داده</a></li>
										<li><a href="#">برنامه نویسی موبایل</a></li>
									</ul>
								</div>
							</div>
							
							<div class="col-lg-2 col-md-3">
								<div class="footer-widget">
									<h4 class="widget-title">راهنما و پشتیبانی</h4>
									<ul class="footer-menu">
										<li><a href="#">اسناد</a></li>
										<li><a href="#">چت آنلاین</a></li>
										<li><a href="#">ارسال ایمیل</a></li>
										<li><a href="#">قوانین و شرایط</a></li>
										<li><a href="#">سوالات متداول</a></li>
									</ul>
								</div>
							</div>
							
							<div class="col-lg-3 col-md-12">
								<div class="footer-widget">
									<h4 class="widget-title">دانلود اپلیکیشن</h4>
									<a href="#" class="other-store-link">
										<div class="other-store-app">
											<div class="os-app-icon">
												<i class="lni-playstore theme-cl"></i>
											</div>
											<div class="os-app-caps">
												گوگل پلی
												<span>دریافت اپلیکیشن</span>
											</div>
										</div>
									</a>
									<a href="#" class="other-store-link">
										<div class="other-store-app">
											<div class="os-app-icon">
												<i class="lni-apple theme-cl"></i>
											</div>
											<div class="os-app-caps">
												اپ استور
												<span>دریافت اپلیکیشن</span>
											</div>
										</div>
									</a>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">
							
							<div class="col-lg-6 col-md-6">
								<p class="mb-0">© 2022 LearnUp ارائه شده توسط <a href="#">توسعه پردازان</a></p>
							</div>
							
							<div class="col-lg-6 col-md-6 text-left">
								<ul class="footer-bottom-social">
									<li><a href="#"><i class="ti-facebook"></i></a></li>
									<li><a href="#"><i class="ti-twitter"></i></a></li>
									<li><a href="#"><i class="ti-instagram"></i></a></li>
									<li><a href="#"><i class="ti-linkedin"></i></a></li>
								</ul>
							</div>
							
						</div>
					</div>
				</div>
			</footer>
			<!-- ============================ Footer End ================================== -->
			
						<!-- Log In Modal -->
			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="registermodal">
						<span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title">ورود به حساب</h4>
							<div class="login-form">
								<form>
								
									<div class="form-group">
										<label>نام کاربری</label>
										<input type="text" class="form-control" placeholder="نام کاربری">
									</div>
									
									<div class="form-group">
										<label>رمز عبور</label>
										<input type="password" class="form-control" placeholder="*******">
									</div>
									
									<div class="form-group">
										<button type="submit" class="btn btn-md full-width pop-login">ورود به حساب</button>
									</div>
								
								</form>
							</div>
							
							<div class="social-login mb-3">
								<ul>
									<li>
										<input id="reg" class="checkbox-custom" name="reg" type="checkbox">
										<label for="reg" class="checkbox-custom-label">ذخیره رمزعبور</label>
									</li>
									<li class="left"><a href="#" class="theme-cl">رمز عبور خود را فراموش کرده اید؟</a></li>
								</ul>
							</div>
							
							<div class="modal-divider"><span>یـا</span></div>
							<div class="social-login ntr mb-3">
								<ul>
									<li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
									<li><a href="#" class="btn connect-google"><i class="ti-google"></i>Google</a></li>
								</ul>
							</div>
							
							<div class="text-center">
								<p class="mt-2">حساب کاربری دارید؟ <a href="register.html" class="link">ورود به اکانت</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<!-- Sign Up Modal -->
			<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="sign-up">
						<span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title">ثبت نام</h4>
							<div class="login-form">
								<form>
								
									<div class="form-group">
										<input type="text" class="form-control" placeholder="نام کامل">
									</div>
									
									<div class="form-group">
										<input type="email" class="form-control" placeholder="پست الکترونیکی">
									</div>
									
									<div class="form-group">
										<input type="text" class="form-control" placeholder="نام کاربری">
									</div>
									
									<div class="form-group">
										<input type="password" class="form-control" placeholder="*******">
									</div>

									
									<div class="form-group">
										<button type="submit" class="btn btn-md full-width pop-login">ثبت نام</button>
									</div>
								
								</form>
							</div>
							
							<div class="modal-divider"><span>یـا</span></div>
							<div class="social-login ntr mb-3">
								<ul>
									<li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
									<li><a href="#" class="btn connect-google"><i class="ti-google"></i>Google</a></li>
								</ul>
							</div>
							
							<div class="text-center">
								<p class="mt-3"><i class="ti-user ml-1"></i>آیا حساب کاربری دارید؟ <a href="#" class="link">ورود به حساب کاربری</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<!-- Video Modal -->
			<div class="modal fade" id="popup-video" tabindex="-1" role="dialog" aria-labelledby="popup-video" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
				<style>.h_iframe-aparat_embed_frame{position:relative;}.h_iframe-aparat_embed_frame .ratio{display:block;width:100%;height:auto;}.h_iframe-aparat_embed_frame iframe{position:absolute;top:0;left:0;width:100%;height:480px;}</style><div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 57%"></span><iframe src="https://www.aparat.com/video/video/embed/videohash/RKD6P/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe></div>
				<!-- <iframe class="embed-responsive-item" width="100%" height="480" src="https://www.youtube.com/embed/qN3OueBm9F4?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
				</div>
			</div>
			<!-- End Video Modal -->
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/select2.min.js"></script>
		<script src="assets/js/slick.js"></script>
		<script src="assets/js/jquery.counterup.min.js"></script>
		<script src="assets/js/counterup.min.js"></script>
		<script src="assets/js/custom.js"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>

</html>