{% load static %}
<!DOCTYPE html>
<html lang="fa">
	
<head>
		<meta charset="utf-8" />
		<meta name="author" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		
        <title>
			پروگرمیت | ثبت نام
		</title>
		 
        <!-- Custom CSS -->
        <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet">
		
		<!-- Custom Color Option -->
		<link href="{% static 'assets/css/colors.css' %}" rel="stylesheet">
		
    </head>
	
    <body class="log-bg rtl">
	
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div id="preloader"><div class="preloader"><span></span><span></span></div></div>
		
		
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
        <!-- ========================== SignUp Elements ============================= -->
			<section class="log-space">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-11 col-md-11">

							<div class="row no-gutters position-relative log_rads">
								<div class="col-lg-6 col-md-5 bg-cover" style="background:#1f2431 url(assets/img/log.png)no-repeat;">
									<div class="lui_9okt6">
										<div class="_loh_revu97">
											<div id="reviews-login" dir="rtl">

												<!-- Single Reviews -->
												<div class="_loh_r96">
													<div class="_bloi_quote"><i class="fa fa-quote-right"></i></div>
													<div class="_loh_r92">
														<h4>خدمات خوب</h4>
													</div>
													<div class="_loh_r93">
														<p>زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
													</div>
													<div class="_loh_foot_r93">
														<h4>زهرا مرادی</h4>
														<span>مدیر مدرسه</span>
													</div>
												</div>

												<!-- Single Reviews -->
												<div class="_loh_r96">
													<div class="_bloi_quote"><i class="fa fa-quote-right"></i></div>
													<div class="_loh_r92">
														<h4>مدرسین باتجربه</h4>
													</div>
													<div class="_loh_r93">
														<p>زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
													</div>
													<div class="_loh_foot_r93">
														<h4>پارمیدا دادخواه</h4>
														<span>گرافیست</span>
													</div>
												</div>

												<!-- Single Reviews -->
												<div class="_loh_r96">
													<div class="_bloi_quote"><i class="fa fa-quote-right"></i></div>
													<div class="_loh_r92">
														<h4>پشتیبانی قوی</h4>
													</div>
													<div class="_loh_r93">
														<p>زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
													</div>
													<div class="_loh_foot_r93">
														<h4>باربد حسنی</h4>
														<span>برنامه نویس</span>
													</div>
												</div>

												<!-- Single Reviews -->
												<div class="_loh_r96">
													<div class="_bloi_quote"><i class="fa fa-quote-right"></i></div>
													<div class="_loh_r92">
														<h4>فن بیان بالا</h4>
													</div>
													<div class="_loh_r93">
														<p>زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
													</div>
													<div class="_loh_foot_r93">
														<h4>زهرا مرادی</h4>
														<span>مدیر مدرسه</span>
													</div>
												</div>
												<!-- Single Reviews -->
												<div class="_loh_r96">
													<div class="_bloi_quote"><i class="fa fa-quote-right"></i></div>
													<div class="_loh_r92">
														<h4>مسلط و منظم</h4>
													</div>
													<div class="_loh_r93">
														<p>زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
													</div>
													<div class="_loh_foot_r93">
														<h4>سوگند کاشانی</h4>
														<span>شاگرد</span>
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-md-7 position-static p-4">
									<div class="log_wraps">
										<a href="index.html" class="log-logo_head"><img src="assets/img/logo.png" class="img-fluid" width="80" alt="" /></a>
										<div class="log__heads">
											<h4 class="mt-0 logs_title">ایجاد <span class="theme-cl">حساب کاربری</span></h4>
										</div>

										<div class="form-group">
											<label>ایمیل*</label>
											<input type="text" class="form-control" value="example@gmail.com">
										</div>

										<div class="form-group">
											<label>رمز عبور*</label>
											<input type="password" class="form-control" value="*******">
										</div>

										<div class="form-group">
											<a href="index.html" class="btn btn_apply w-100">ثبت نام</a>
										</div>

										<div class="form-group text-center">
											<span>یا ثبت نام با</span>
										</div>

										<div class="social_logs">
											<ul>
												<li class="fb-login"><a href="#"><img src="assets/img/google.svg" class="img-fluid ml-2" width="15" alt="" />Google</a></li>
												<li class="gp-login"><a href="#"><img src="assets/img/facebook.svg" class="img-fluid ml-2" width="15" alt="" />Facebook</a></li>
											</ul>
										</div>

										<div class="form-group text-center mb-0 mt-3">
											آیا حساب کاربری دارید؟ <a href="{% url 'login'%}" class="theme-cl">ورود</a>
										</div>
										
									</div>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</section>
			<!-- ========================== Login Elements ============================= -->
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/popper.min.js' %}"></script>
		<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'assets/js/select2.min.js' %}"></script>
		<script src="{% static 'assets/js/slick.js' %}"></script>
		<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
		<script src="{% static 'assets/js/counterup.min.js' %}"></script>
		<script src="{% static 'assets/js/custom.js' %}"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>

</html>