<!DOCTYPE html>
<html lang="fa">
	
<head>
		<meta charset="utf-8" />
		<meta name="author" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		
        <title>LearnUp - قالب HTML دوره آنلاین و آموزش</title>
		 
        <!-- Custom CSS -->
        <link href="assets/css/styles.css" rel="stylesheet">
		
		<!-- Custom Color Option -->
		<link href="assets/css/colors.css" rel="stylesheet">
		
    </head>
	
    <body class="red-skin rtl">
	
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div id="preloader"><div class="preloader"><span></span><span></span></div></div>
		
		
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			<div class="header header-light head-shadow">
				<div class="container">
					<nav id="navigation" class="navigation navigation-landscape">
						<div class="nav-header">
							<a class="nav-brand" href="#">
								<img src="assets/img/logo.png" class="logo" alt="" />
							</a>
							<div class="nav-toggle"></div>
						</div>
						<div class="nav-menus-wrapper" style="transition-property: none;">
							<ul class="nav-menu">
							
								<li class="active"><a href="#">خانه<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="#">نسخه های جدید<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="new-home-1.html">نسخه پیش فرض</a></li>
												<li><a href="new-home-2.html">نسخه استاندارد</a></li>
												<li><a href="new-home-3.html">نسخه کلاسیک</a></li>
											</ul>
										</li>
										<li><a href="index.html">خانه 1</a></li>
										<li><a href="home-2.html">خانه 2</a></li>
										<li><a href="home-3.html">خانه 3</a></li>
										<li><a href="home-4.html">خانه 4</a></li>
										<li><a href="home-5.html">خانه 5</a></li>
										<li><a href="home-6.html">خانه 6</a></li>
										<li><a href="home-7.html">خانه 7</a></li>
										<li><a href="home-8.html">خانه 8</a></li>
										<li><a href="home-9.html">خانه 9</a></li>
										<li><a href="home-10.html">خانه 10</a></li>
									</ul>
								</li>
								
								<li><a href="#">دوره های آموزشی<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li><a href="#">نمای با نوارکناری<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="grid-with-sidebar.html">نسخه 1</a></li>
												<li><a href="grid-with-sidebar-2.html">نسخه 2</a></li>
												<li><a href="grid-with-sidebar-3.html">نسخه 3</a></li>
											</ul>
										</li>
										<li><a href="list-with-sidebar.html">طرح بندی لیستی</a></li>
										<li><a href="#">نمای تمام صفحه<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="full-width-course.html">نسخه 1</a></li>
												<li><a href="full-width-course-2.html">نسخه 2</a></li>
												<li><a href="full-width-course-3.html">نسخه 3</a></li>
												<li><a href="full-width-course-4.html">نسخه 4</a></li>
											</ul>
										</li>
										<li><a href="#">جزئیات دوره<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="detail.html">نسخه 1</a></li>
												<li><a href="detail-2.html">نسخه 2</a></li>
												<li><a href="detail-3.html">نسخه 3</a></li>
												<li><a href="detail-4.html">نسخه 4</a></li>
												<li><a href="detail-5.html">نسخه 5</a></li>
												<li><a href="detail-6.html">نسخه 6</a></li>
											</ul>
										</li>
										<li><a href="find-instructor.html">لیست مدرس</a></li>
										<li><a href="instructor-detail.html">جزئیات مدرس</a></li>
									</ul>
								</li>
								
								<li><a href="#">صفحات<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										<li class=""><a href="#">پنل کاربری<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="dashboard.html">داشبورد</a></li>
												<li><a href="my-profile.html">حساب کاربری من</a></li>
												<li><a href="all-courses.html">دوره های من</a></li>
												<li><a href="my-order.html">سفارشات من</a></li>
												<li><a href="saved-courses.html">دوره های موردعلاقه</a></li>
												<li><a href="reviews.html">امتیازات من</a></li>
												<li><a href="settings.html">تنظیمات</a></li>
											</ul>
										</li>
										<li><a href="#">فروشگاه<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="shop-full-width.html">تمام صفحه</a></li>
												<li><a href="shop-left-sidebar.html">سایدبار چپ</a></li>
												<li><a href="shop-right-sidebar.html">سایدبار راست</a></li>
												<li><a href="product-detail.html">جزئیات</a></li>
												<li><a href="add-to-cart.html">افزودن به سبد خرید</a></li>
												<li><a href="product-wishlist.html">موردعلاقه ها</a></li>
												<li><a href="checkout.html">تسویه حساب</a></li>
												<li><a href="shop-order.html">ثبت سفارش</a></li>
											</ul>
										</li>
										<li><a href="about-us.html">درباره ما</a></li>
										<li><a href="blog.html">لیست بلاگ</a></li>
										<li><a href="blog-detail.html">جزئیات بلاگ</a></li>
										<li><a href="pricing.html">پکیج قیمت</a></li>
										<li><a href="404.html">صفحه 404</a></li>
										<li><a href="register.html">ثبت نام</a></li>
										<li><a href="component.html">المان ها</a></li>
										<li><a href="privacy.html">قوانین و شرایط</a></li>
										<li><a href="faq.html">سوالات متداول</a></li>
									</ul>
								</li>
								
								<li><a href="contact.html">تماس با ما</a></li>
								
							</ul>
							
							<ul class="nav-menu nav-menu-social align-to-left">
								
								<li class="login_click light">
									<a href="#" data-toggle="modal" data-target="#login">ورود</a>
								</li>
								<li class="login_click theme-bg">
									<a href="#" data-toggle="modal" data-target="#signup">ثبت نام</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->

			<!-- ============================ Page Title Start================================== -->
			<section class="page-title">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							
							<div class="breadcrumbs-wrap">
								<h1 class="breadcrumb-title">نمای با نوار کناری</h1>
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="#">خانه</a></li>
										<li class="breadcrumb-item active" aria-current="page">نسخه 1</li>
									</ol>
								</nav>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Page Title End ================================== -->			

			
			<!-- ============================ Find Courses with Sidebar ================================== -->
			<section class="pt-0">
				<div class="container">
					
					<!-- Onclick Sidebar -->
					<div class="row">
						<div class="col-md-12 col-lg-12">
							<div id="filter-sidebar" class="filter-sidebar">
								<div class="filt-head">
									<h4 class="filt-first">جستجوی پیشرفته</h4>
									<a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="ti-close"></i></a>
								</div>
								<div class="show-hide-sidebar">
									
									<!-- Find New Property -->
									<div class="sidebar-widgets">
										
										<!-- Search Form -->
										<form class="form-inline addons mb-3">
											<input class="form-control" type="search" placeholder="جستجو دوره" aria-label="Search">
											<button class="btn my-2 my-sm-0" type="submit"><i class="ti-search"></i></button>
										</form>	
										
										<h4 class="side_title">دسته بندی دوره</h4>
										<ul class="no-ul-list mb-3">
											<li>
												<input id="a-4" class="checkbox-custom" name="a-4" type="checkbox">
												<label for="a-4" class="checkbox-custom-label">برنامه نویسی (3)</label>
											</li>
											<li>
												<input id="a-5" class="checkbox-custom" name="a-5" type="checkbox">
												<label for="a-5" class="checkbox-custom-label">طراحی سایت (2)</label>
											</li>
											<li>
												<input id="a-6" class="checkbox-custom" name="a-6" type="checkbox">
												<label for="a-6" class="checkbox-custom-label">عمومی (2)</label>
											</li>
											<li>
												<input id="a-7" class="checkbox-custom" name="a-7" type="checkbox">
												<label for="a-7" class="checkbox-custom-label">فناوری اطلاعات (2)</label>
											</li>
											<li>
												<input id="a-8" class="checkbox-custom" name="a-8" type="checkbox">
												<label for="a-8" class="checkbox-custom-label">گرافیک (2)</label>
											</li>
											<li>
												<input id="a-9" class="checkbox-custom" name="a-9" type="checkbox">
												<label for="a-9" class="checkbox-custom-label">شبکه و امنیت (2)</label>
											</li>
										</ul>
										
										<h4 class="side_title">مدرسین</h4>
										<ul class="no-ul-list mb-3">
											<li>
												<input id="a-1" class="checkbox-custom" name="a-1" type="checkbox">
												<label for="a-1" class="checkbox-custom-label">حسام موسوی (4)</label>
											</li>
											<li>
												<input id="a-2" class="checkbox-custom" name="a-2" type="checkbox">
												<label for="a-2" class="checkbox-custom-label">مهرداد عظیمی (11)</label>
											</li>
											<li>
												<input id="a-6" class="checkbox-custom" name="a-6" type="checkbox">
												<label for="a-6" class="checkbox-custom-label">الهام کریمی (4)</label>
											</li>
											<li>
												<input id="a-7" class="checkbox-custom" name="a-7" type="checkbox">
												<label for="a-7" class="checkbox-custom-label">مسعود راد (7)</label>
											</li>
											<li>
												<input id="a-8" class="checkbox-custom" name="a-8" type="checkbox">
												<label for="a-8" class="checkbox-custom-label">مهدی کشاورز</label>
											</li>
											<li>
												<input id="a-9" class="checkbox-custom" name="a-9" type="checkbox">
												<label for="a-9" class="checkbox-custom-label">شادی عبدی</label>
											</li>
										</ul>
										
										<h4 class="side_title">نوع دوره</h4>
										<ul class="no-ul-list mb-3">
											<li>
												<input id="a-10" class="checkbox-custom" name="a-10" type="checkbox">
												<label for="a-10" class="checkbox-custom-label">همه (75)</label>
											</li>
											<li>
												<input id="a-11" class="checkbox-custom" name="a-11" type="checkbox">
												<label for="a-11" class="checkbox-custom-label">رایگان (15)</label>
											</li>
											<li>
												<input id="a-12" class="checkbox-custom" name="a-12" type="checkbox">
												<label for="a-12" class="checkbox-custom-label">نقدی (60)</label>
											</li>
										</ul>
										
										<button class="btn btn-theme full-width mb-2">فیلتر کن</button>
									
									</div>
									
								</div>
							</div>
						</div>
					</div>

					<!-- Row -->
					<div class="row">
					
						<div class="col-lg-4 col-md-12 col-sm-12 order-2 order-lg-1 order-md-2">							
							<div class="page_sidebar hide-23">
								
								<!-- Search Form -->
								<form class="form-inline addons mb-3">
									<input class="form-control" type="search" placeholder="جستجو دوره" aria-label="Search">
									<button class="btn my-2 my-sm-0" type="submit"><i class="ti-search"></i></button>
								</form>	
								
								<h4 class="side_title">دسته بندی دوره</h4>
								<ul class="no-ul-list mb-3">
									<li>
										<input id="aa-4" class="checkbox-custom" name="aa-4" type="checkbox">
										<label for="aa-4" class="checkbox-custom-label">برنامه نویسی (3)</label>
									</li>
									<li>
										<input id="aa-5" class="checkbox-custom" name="aa-5" type="checkbox">
										<label for="aa-5" class="checkbox-custom-label">طراحی سایت (2)</label>
									</li>
									<li>
										<input id="aa-6" class="checkbox-custom" name="aa-6" type="checkbox">
										<label for="aa-6" class="checkbox-custom-label">عمومی (2)</label>
									</li>
									<li>
										<input id="aa-7" class="checkbox-custom" name="aa-7" type="checkbox">
										<label for="aa-7" class="checkbox-custom-label">فناوری و اطلاعات (2)</label>
									</li>
									<li>
										<input id="aa-8" class="checkbox-custom" name="aa-8" type="checkbox">
										<label for="aa-8" class="checkbox-custom-label">گرافیک (2)</label>
									</li>
									<li>
										<input id="aa-9" class="checkbox-custom" name="aa-9" type="checkbox">
										<label for="aa-9" class="checkbox-custom-label">شبکه و امنیت (2)</label>
									</li>
								</ul>
								
								<h4 class="side_title">مدرسین</h4>
								<ul class="no-ul-list mb-3">
									<li>
										<input id="aa-41" class="checkbox-custom" name="aa-41" type="checkbox">
										<label for="aa-41" class="checkbox-custom-label">حسام موسوی (4)</label>
									</li>
									<li>
										<input id="aa-2" class="checkbox-custom" name="aa-2" type="checkbox">
										<label for="aa-2" class="checkbox-custom-label">مهرداد عظیمی (11)</label>
									</li>
									<li>
										<input id="aa-3" class="checkbox-custom" name="aa-3" type="checkbox">
										<label for="aa-3" class="checkbox-custom-label">الهام کریمی (4)</label>
									</li>
									<li>
										<input id="aa-71" class="checkbox-custom" name="aa-71" type="checkbox">
										<label for="aa-71" class="checkbox-custom-label">مسعود راد (7)</label>
									</li>
									<li>
										<input id="aa-81" class="checkbox-custom" name="aa-81" type="checkbox">
										<label for="aa-81" class="checkbox-custom-label">مهدی کشاورز</label>
									</li>
									<li>
										<input id="aa-91" class="checkbox-custom" name="aa-91" type="checkbox">
										<label for="aa-91" class="checkbox-custom-label">شادی عبدی</label>
									</li>
								</ul>
								
								<h4 class="side_title">نوع دوره</h4>
								<ul class="no-ul-list mb-3">
									<li>
										<input id="aa-10" class="checkbox-custom" name="aa-10" type="checkbox">
										<label for="aa-10" class="checkbox-custom-label">همه (75)</label>
									</li>
									<li>
										<input id="b-8" class="checkbox-custom" name="b-8" type="checkbox">
										<label for="b-8" class="checkbox-custom-label">رایگان (15)</label>
									</li>
									<li>
										<input id="b-9" class="checkbox-custom" name="b-9" type="checkbox">
										<label for="b-9" class="checkbox-custom-label">نقدی (60)</label>
									</li>
								</ul>
								
							</div>
							
							<div class="page_sidebar hidden-md-down">
								<h4 class="side_title">دوره های مرتبط</h4>
								<div class="related_items mb-4">
									<!-- Single Related Items -->
									<div class="product_item">
										<div class="thumbnail">
											<a href="#"><img src="assets/img/book-1.png" class="img-fluid" alt=""></a>
										</div>
										<div class="info">
											<h6 class="product-title"><a href="#">آموزش ساخت فروشگاه اینترنتی با PHP</a></h6>
											<div class="woo_rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
											</div>
											<span class="price"><p class="price_ver">9900 تومان<del>14900ت</del>
										</p></span></div>
									</div>	
									<!-- Single Related Items -->
									<div class="product_item">
										<div class="thumbnail">
											<a href="#"><img src="assets/img/book-2.png" class="img-fluid" alt=""></a>
										</div>
										<div class="info">
											<h6 class="product-title"><a href="#">آموزش ساخت اپلیکیشن شیپور با اندروید</a></h6>
											<div class="woo_rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
											</div>
											<span class="price"><p class="price_ver">8900 تومان<del>17900 ت</del>
										</p></span></div>
									</div>
									<!-- Single Related Items -->
									<div class="product_item">
										<div class="thumbnail">
											<a href="#"><img src="assets/img/book-3.png" class="img-fluid" alt=""></a>
										</div>
										<div class="info">
											<h6 class="product-title"><a href="#">آموزش ساخت یک اپلیکیشن اندرویدی در ۱۲ ساعت</a></h6>
											<div class="woo_rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
											</div>
											<span class="price"><p class="price_ver">19900 تومان<del>27900 ت</del>
										</p></span></div>
									</div>
									<!-- Single Related Items -->
									<div class="product_item">
										<div class="thumbnail">
											<a href="#"><img src="assets/img/book-4.png" class="img-fluid" alt=""></a>
										</div>
										<div class="info">
											<h6 class="product-title"><a href="#">آموزش ساخت اپلیکیشن چت با اندروید</a></h6>
											<div class="woo_rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
											</div>
											<span class="price"><p class="price_ver">59900 تومان<del>99900 ت</del>
										</p></span></div>
									</div>
								</div>
								
								<h4 class="side_title">تگ های پرمخاطب</h4>
								<div class="popular_tags">
									<!-- Tags -->
									<div class="tag_cloud">
										<a href="#" class="tag-cloud-lin">کسب و کار</a>
										<a href="#" class="tag-cloud-lin">طراحی سایت</a>
										<a href="#" class="tag-cloud-lin">سئو</a>
										<a href="#" class="tag-cloud-lin">php</a>
										<a href="#" class="tag-cloud-lin">وردپرس</a>
										<a href="#" class="tag-cloud-lin">سی شارپ</a>
										<a href="#" class="tag-cloud-lin">مهارت</a>
										<a href="#" class="tag-cloud-lin">نرم افزار</a>
										<a href="#" class="tag-cloud-lin">حسابداری</a>
									</div>	
								</div>
								
							</div>
							
						</div>	
						
						<div class="col-lg-8 col-md-12 col-sm-12 order-1 order-lg-2 order-md-1">
							
							<!-- Row -->
							<div class="row align-items-center mb-3">
								<div class="col-lg-6 col-md-6 col-sm-12">
									<strong>142</strong> دوره آموزشی یافت شد.
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 ordering">
									<div class="filter_wraps">
										<div class="dn db-991 mt30 mb0 show-23">
											<div id="main2">
												<a href="javascript:void(0)" class="btn btn-theme arrow-btn filter_open" onclick="openNav()" id="open2">باکس فیلتر<span><i class="fas fa-arrow-alt-circle-left"></i></span></a>
											</div>
										</div>
										<div class="dropdown show">
											<a class="btn btn-custom dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											دوره های آموزشی
											</a>
											<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
											<a class="dropdown-item" href="#">پرمخاطب</a>
											<a class="dropdown-item" href="#">جدید</a>
											<a class="dropdown-item" href="#">ویژه</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /Row -->
							
							<div class="row">
						
								<!-- Cource Grid 1 -->
								<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="education_block_grid style_2">
								
										<div class="education_block_thumb n-shadow">
											<a href="course-detail.html"><img src="assets/img/co-1.jpg" class="img-fluid" alt=""></a>
										</div>
										
										<div class="education_block_body">
											<h4 class="bl-title"><a href="course-detail.html">آموزش ساخت فروشگاه دیجی استایل با لاراول</a></h4>
										</div>
										
										<div class="cources_facts">
											<ul class="cources_facts_list">
												<li class="facts-1">متخصص</li>
												<li class="facts-2">حرفه ای</li>
												<li class="facts-5">طراحی وب</li>
											</ul>
										</div>
										
										<div class="cources_info">
											<div class="cources_info_first">
												<ul>
													<li><strong>1,84684 بازدید</strong></li>
													<li class="theme-cl">214 ساعت</li>
												</ul>
											</div>
											<div class="cources_info_last">
												<h3>785 تومان</h3>
											</div>
										</div>
										
										<div class="education_block_footer">
											<div class="education_block_author">
												<div class="path-img"><a href="instructor-detail.html"><img src="assets/img/user-1.jpg" class="img-fluid" alt=""></a></div>
												<h5><a href="instructor-detail.html">مهرداد عظیمی</a></h5>
											</div>
											<span class="education_block_time"><i class="ti-calendar ml-1"></i>1 ساعت پیش</span>
										</div>
										
									</div>	
						</div>
						
						<!-- Cource Grid 1 -->
						<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="education_block_grid style_2">
								
										<div class="education_block_thumb n-shadow">
											<a href="course-detail.html"><img src="assets/img/co-2.jpg" class="img-fluid" alt=""></a>
										</div>
										
										<div class="education_block_body">
											<h4 class="bl-title"><a href="course-detail.html">آموزش ASP.Net - ساخت سایت شخصی</a></h4>
										</div>
										
										<div class="cources_facts">
											<ul class="cources_facts_list">
												<li class="facts-1">متخصص</li>
												<li class="facts-2">حرفه ای</li>
												<li class="facts-5">طراحی وب</li>
											</ul>
										</div>
										
										<div class="cources_info">
											<div class="cources_info_first">
												<ul>
													<li><strong>2,25684 بازدید</strong></li>
													<li class="theme-cl">519 ساعت</li>
												</ul>
											</div>
											<div class="cources_info_last">
												<h3>580 تومان</h3>
											</div>
										</div>
										
										<div class="education_block_footer">
											<div class="education_block_author">
												<div class="path-img"><a href="instructor-detail.html"><img src="assets/img/user-2.jpg" class="img-fluid" alt=""></a></div>
												<h5><a href="instructor-detail.html">پریسا نصرتی</a></h5>
											</div>
											<span class="education_block_time"><i class="ti-calendar ml-1"></i>20 دقیقه پیش</span>
										</div>
										
									</div>	
						</div>
						
						<!-- Cource Grid 1 -->
						<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="education_block_grid style_2">
								
										<div class="education_block_thumb n-shadow">
											<a href="course-detail.html"><img src="assets/img/co-3.jpg" class="img-fluid" alt=""></a>
										</div>
										
										<div class="education_block_body">
											<h4 class="bl-title"><a href="course-detail.html">آموزش ساخت ربات تلگرام با PHP</a></h4>
										</div>
										
										<div class="cources_facts">
											<ul class="cources_facts_list">
												<li class="facts-1">متخصص</li>
												<li class="facts-2">حرفه ای</li>
												<li class="facts-5">طراحی وب</li>
											</ul>
										</div>
										
										<div class="cources_info">
											<div class="cources_info_first">
												<ul>
													<li><strong>5,69684 بازدید</strong></li>
													<li class="theme-cl">306 ساعت</li>
												</ul>
											</div>
											<div class="cources_info_last">
												<h3>985 تومان</h3>
											</div>
										</div>
										
										<div class="education_block_footer">
											<div class="education_block_author">
												<div class="path-img"><a href="instructor-detail.html"><img src="assets/img/user-3.jpg" class="img-fluid" alt=""></a></div>
												<h5><a href="instructor-detail.html">مهدی حسینی</a></h5>
											</div>
											<span class="education_block_time"><i class="ti-calendar ml-1"></i>1 روز پیش</span>
										</div>
										
									</div>	
						</div>
						
						<!-- Cource Grid 1 -->
						<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="education_block_grid style_2">
								
										<div class="education_block_thumb n-shadow">
											<a href="course-detail.html"><img src="assets/img/co-4.jpg" class="img-fluid" alt=""></a>
										</div>
										
										<div class="education_block_body">
											<h4 class="bl-title"><a href="course-detail.html">آموزش برنامه نویسی‌اندروید</a></h4>
										</div>
										
										<div class="cources_facts">
											<ul class="cources_facts_list">
												<li class="facts-1">متخصص</li>
												<li class="facts-2">حرفه ای</li>
												<li class="facts-5">طراحی وب</li>
											</ul>
										</div>
										
										<div class="cources_info">
											<div class="cources_info_first">
												<ul>
													<li><strong>7,42854 بازدید</strong></li>
													<li class="theme-cl">48 ساعت</li>
												</ul>
											</div>
											<div class="cources_info_last">
												<h3>650 تومان</h3>
											</div>
										</div>
										
										<div class="education_block_footer">
											<div class="education_block_author">
												<div class="path-img"><a href="instructor-detail.html"><img src="assets/img/user-4.jpg" class="img-fluid" alt=""></a></div>
												<h5><a href="instructor-detail.html">الهام کریمی</a></h5>
											</div>
											<span class="education_block_time"><i class="ti-calendar ml-1"></i>1 روز پیش</span>
										</div>
										
									</div>	
						</div>
						
						<!-- Cource Grid 1 -->
						<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="education_block_grid style_2">
								
										<div class="education_block_thumb n-shadow">
											<a href="course-detail.html"><img src="assets/img/co-5.jpg" class="img-fluid" alt=""></a>
										</div>
										
										<div class="education_block_body">
											<h4 class="bl-title"><a href="course-detail.html">آموزش تبدیل PSD به HTML (یک)</a></h4>
										</div>
										
										<div class="cources_facts">
											<ul class="cources_facts_list">
												<li class="facts-1">متخصص</li>
												<li class="facts-2">حرفه ای</li>
												<li class="facts-5">طراحی وب</li>
											</ul>
										</div>
										
										<div class="cources_info">
											<div class="cources_info_first">
												<ul>
													<li><strong>5,32984 بازدید</strong></li>
													<li class="theme-cl">120 ساعت</li>
												</ul>
											</div>
											<div class="cources_info_last">
												<h3>258 تومان</h3>
											</div>
										</div>
										
										<div class="education_block_footer">
											<div class="education_block_author">
												<div class="path-img"><a href="instructor-detail.html"><img src="assets/img/user-5.jpg" class="img-fluid" alt=""></a></div>
												<h5><a href="instructor-detail.html">سعید شیخ زاده</a></h5>
											</div>
											<span class="education_block_time"><i class="ti-calendar ml-1"></i>2 روز پیش</span>
										</div>
										
									</div>	
						</div>
						
						<!-- Cource Grid 1 -->
						<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="education_block_grid style_2">
								
										<div class="education_block_thumb n-shadow">
											<a href="course-detail.html"><img src="assets/img/co-6.jpg" class="img-fluid" alt=""></a>
										</div>
										
										<div class="education_block_body">
											<h4 class="bl-title"><a href="course-detail.html">آموزش کار با وکتور در فتوشاپ</a></h4>
										</div>
										
										<div class="cources_facts">
											<ul class="cources_facts_list">
												<li class="facts-1">متخصص</li>
												<li class="facts-2">حرفه ای</li>
												<li class="facts-5">طراحی وب</li>
											</ul>
										</div>
										
										<div class="cources_info">
											<div class="cources_info_first">
												<ul>
													<li><strong>6,56684 بازدید</strong></li>
													<li class="theme-cl">489 ساعت</li>
												</ul>
											</div>
											<div class="cources_info_last">
												<h3>359 تومان</h3>
											</div>
										</div>
										
										<div class="education_block_footer">
											<div class="education_block_author">
												<div class="path-img"><a href="instructor-detail.html"><img src="assets/img/user-6.jpg" class="img-fluid" alt=""></a></div>
												<h5><a href="instructor-detail.html">نازنین عبدی</a></h5>
											</div>
											<span class="education_block_time"><i class="ti-calendar ml-1"></i>4 روز پیش</span>
										</div>
										
									</div>	
						</div>
								
								
							</div>
							
							<!-- Row -->
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									
									<!-- Pagination -->
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
															<ul class="pagination p-center">
												<li class="page-item">
												  <a class="page-link" href="#" aria-label="Previous">
													<span class="ti-arrow-right"></span>
													<span class="sr-only">قبل</span>
												  </a>
												</li>
												<li class="page-item"><a class="page-link" href="#">1</a></li>
												<li class="page-item"><a class="page-link" href="#">2</a></li>
												<li class="page-item active"><a class="page-link" href="#">3</a></li>
												<li class="page-item"><a class="page-link" href="#">...</a></li>
												<li class="page-item"><a class="page-link" href="#">18</a></li>
												<li class="page-item">
												  <a class="page-link" href="#" aria-label="Next">
													<span class="ti-arrow-left"></span>
													<span class="sr-only">بعد</span>
												  </a>
												</li>
											</ul>
										</div>
									</div>
									
								</div>
							</div>
							<!-- /Row -->
							
						</div>
					
					</div>
					<!-- Row -->
					
				</div>
			</section>
			<!-- ============================ Find Courses with Sidebar End ================================== -->
			
			<!-- ============================== Start Newsletter ================================== -->
			<section class="newsletter theme-bg inverse-theme">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8 col-sm-12">
							<div class="text-center">
								<h2>به جامعه هزاران دانشجو بپیوندید!</h2>
								<p>به جامعه میلیونی دانشجویان ما بپیوندید و به هزاران ساعت آموزش در حوزه‌های گوناگون دسترسی داشته باشید.</p>
								<form class="sup-form">
									<input type="email" class="form-control sigmup-me" placeholder="ایمیل" required="required">
									<input type="submit" class="btn btn-theme" value="عضویت">
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- ================================= End Newsletter =============================== -->
			
			<!-- ============================ Footer Start ================================== -->
			<footer class="dark-footer skin-dark-footer">
				<div>
								<div class="container">
						<div class="row">
							
							<div class="col-lg-3 col-md-3">
								<div class="footer-widget">
									<img src="assets/img/logo-light.png" class="img-footer" alt="" />
									<div class="footer-add">
										<p>تهران، خیابان سعادت آباد، خیابان کاج</p>
										<p>02188888888</p>
										<p>info@learnup.com</p>
									</div>
									
								</div>
							</div>		
							<div class="col-lg-2 col-md-3">
								<div class="footer-widget">
									<h4 class="widget-title">لینک مفید</h4>
									<ul class="footer-menu">
										<li><a href="about-us.html">درباره ما</a></li>
										<li><a href="faq.html">سوالات متداول</a></li>
										<li><a href="checkout.html">تسویه حساب</a></li>
										<li><a href="contact.html">تماس با ما</a></li>
										<li><a href="blog.html">وبلاگ</a></li>
									</ul>
								</div>
							</div>
									
							<div class="col-lg-2 col-md-3">
								<div class="footer-widget">
									<h4 class="widget-title">دسته بندی</h4>
									<ul class="footer-menu">
										<li><a href="#">طراحی وب</a></li>
										<li><a href="#">شبکه و امنیت</a></li>
										<li><a href="#">برنامه نویسی وب</a></li>
										<li><a href="#">پایگاه داده</a></li>
										<li><a href="#">برنامه نویسی موبایل</a></li>
									</ul>
								</div>
							</div>
							
							<div class="col-lg-2 col-md-3">
								<div class="footer-widget">
									<h4 class="widget-title">راهنما و پشتیبانی</h4>
									<ul class="footer-menu">
										<li><a href="#">اسناد</a></li>
										<li><a href="#">چت آنلاین</a></li>
										<li><a href="#">ارسال ایمیل</a></li>
										<li><a href="#">قوانین و شرایط</a></li>
										<li><a href="#">سوالات متداول</a></li>
									</ul>
								</div>
							</div>
							
							<div class="col-lg-3 col-md-12">
								<div class="footer-widget">
									<h4 class="widget-title">دانلود اپلیکیشن</h4>
									<a href="#" class="other-store-link">
										<div class="other-store-app">
											<div class="os-app-icon">
												<i class="lni-playstore theme-cl"></i>
											</div>
											<div class="os-app-caps">
												گوگل پلی
												<span>دریافت اپلیکیشن</span>
											</div>
										</div>
									</a>
									<a href="#" class="other-store-link">
										<div class="other-store-app">
											<div class="os-app-icon">
												<i class="lni-apple theme-cl"></i>
											</div>
											<div class="os-app-caps">
												اپ استور
												<span>دریافت اپلیکیشن</span>
											</div>
										</div>
									</a>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">
							
							<div class="col-lg-6 col-md-6">
								<p class="mb-0">© 2022 LearnUp ارائه شده توسط <a href="#">توسعه پردازان</a></p>
							</div>
							
							<div class="col-lg-6 col-md-6 text-left">
								<ul class="footer-bottom-social">
									<li><a href="#"><i class="ti-facebook"></i></a></li>
									<li><a href="#"><i class="ti-twitter"></i></a></li>
									<li><a href="#"><i class="ti-instagram"></i></a></li>
									<li><a href="#"><i class="ti-linkedin"></i></a></li>
								</ul>
							</div>
							
						</div>
					</div>
				</div>
			</footer>
			<!-- ============================ Footer End ================================== -->
			
						<!-- Log In Modal -->
			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="registermodal">
						<span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title">ورود به حساب</h4>
							<div class="login-form">
								<form>
								
									<div class="form-group">
										<label>نام کاربری</label>
										<input type="text" class="form-control" placeholder="نام کاربری">
									</div>
									
									<div class="form-group">
										<label>رمز عبور</label>
										<input type="password" class="form-control" placeholder="*******">
									</div>
									
									<div class="form-group">
										<button type="submit" class="btn btn-md full-width pop-login">ورود به حساب</button>
									</div>
								
								</form>
							</div>
							
							<div class="social-login mb-3">
								<ul>
									<li>
										<input id="reg" class="checkbox-custom" name="reg" type="checkbox">
										<label for="reg" class="checkbox-custom-label">ذخیره رمزعبور</label>
									</li>
									<li class="left"><a href="#" class="theme-cl">رمز عبور خود را فراموش کرده اید؟</a></li>
								</ul>
							</div>
							
							<div class="modal-divider"><span>یـا</span></div>
							<div class="social-login ntr mb-3">
								<ul>
									<li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
									<li><a href="#" class="btn connect-google"><i class="ti-google"></i>Google</a></li>
								</ul>
							</div>
							
							<div class="text-center">
								<p class="mt-2">حساب کاربری دارید؟ <a href="register.html" class="link">ورود به اکانت</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<!-- Sign Up Modal -->
			<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="sign-up" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="sign-up">
						<span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title">ثبت نام</h4>
							<div class="login-form">
								<form>
								
									<div class="form-group">
										<input type="text" class="form-control" placeholder="نام کامل">
									</div>
									
									<div class="form-group">
										<input type="email" class="form-control" placeholder="پست الکترونیکی">
									</div>
									
									<div class="form-group">
										<input type="text" class="form-control" placeholder="نام کاربری">
									</div>
									
									<div class="form-group">
										<input type="password" class="form-control" placeholder="*******">
									</div>

									
									<div class="form-group">
										<button type="submit" class="btn btn-md full-width pop-login">ثبت نام</button>
									</div>
								
								</form>
							</div>
							
							<div class="modal-divider"><span>یـا</span></div>
							<div class="social-login ntr mb-3">
								<ul>
									<li><a href="#" class="btn connect-fb"><i class="ti-facebook"></i>Facebook</a></li>
									<li><a href="#" class="btn connect-google"><i class="ti-google"></i>Google</a></li>
								</ul>
							</div>
							
							<div class="text-center">
								<p class="mt-3"><i class="ti-user ml-1"></i>آیا حساب کاربری دارید؟ <a href="#" class="link">ورود به حساب کاربری</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/select2.min.js"></script>
		<script src="assets/js/slick.js"></script>
		<script src="assets/js/jquery.counterup.min.js"></script>
		<script src="assets/js/counterup.min.js"></script>
		<script src="assets/js/custom.js"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->
		<script>
			function openNav() {
			  document.getElementById("filter-sidebar").style.width = "320px";
			}

			function closeNav() {
			  document.getElementById("filter-sidebar").style.width = "0";
			}
		</script>

	</body>

</html>